body {
  font-family: Myriad Pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #f5f5f5;
  overflow-y: hidden;
}

.no-border {
  border: none;
}

.box {
  width: 95%;
  margin: auto;
}

.get-overflow {
  overflow-y: hidden;

  transition: color 0.3s ease;
}

.get-overflow:hover {
  overflow-y: overlay;
  color: #000;
}

.body-card {
  display: flex;
  padding: 0 1rem;
  margin: 1rem 0;
  justify-content: space-between;
}

.content-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.post-card {
  display: flex;
}
.post-card p {
  text-align: left !important;
}

.bg-e5 {
  background-color: #e5e5e5;
}

.kategori-badge {
  background-color: blue;
  padding: 2px 10px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

.img-card {
  width: 150px;
}

p {
  margin: 0;
}

.foryu {
  background-color: white;
  padding: 1rem 25px;
  box-shadow: 0 0 10px 0 rgba(177, 184, 192, 0.15);
  border-radius: 5px;
}

.card-foryu {
  border-bottom: 1px solid rgb(187, 187, 187);
  padding-bottom: 5px;
}

.shadows {
  box-shadow: 0 0 10px 0 rgba(177, 184, 192, 0.15);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(83, 83, 83);
  text-decoration: none;
}

.info-post {
  color: #969595;
  font-size: 0.8rem;
}

.footer {
  padding: 2rem;
  background-color: #353535;
  color: white;
  text-align: center;
}

.title-foryu {
  font-size: 1.1rem;
  font-weight: 500;
}

.text-foryu {
  font-size: 0.95rem;
}

.date-foryu {
  font-size: 0.8rem;
  color: #cacaca;
}

.card-foryu:last-child {
  border-bottom: none;
}

.card-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-label {
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 1px solid #e5e5e5;
  margin: 1rem 0;
  text-align: center;
  padding-bottom: 0.5rem;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-corner {
  background-color: white;
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.coros {
  height: 24rem;
}

.logo-log {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create-log {
  color: #0069d9;
  font-weight: 500;
  cursor: pointer;
}

main {
  position: relative;
  overflow: hidden;
  transition: all 0.15s;
  padding: 0 20px;
}

.header {
  background-color: #007bff;
  padding: 1rem;
  z-index: 2;
  position: relative;
}
.carousel-caption {
  width: 100%;

  right: 0;
  bottom: 0;
  left: 0;

  padding-bottom: 40px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1292892156862745) 27%,
    rgba(0, 0, 0, 0.24693627450980393) 54%,
    rgba(0, 0, 0, 0.3) 93%
  );
}
.in-header {
  display: flex;
  justify-content: space-between;
}
.text-header {
  font-size: 1rem;
  color: #fcfcfc;
}

.breadcrumb {
  background-color: transparent;
}

.comment-name {
  background-color: #0066a6;
  color: #e5e5e5;
  border-radius: 7px;
  padding: 0px 5px;
}

.card-login {
  width: 40vw;
}

.title-post-dashboard {
  max-width: 55vw;
}

.box-toast {
  position: fixed;
  z-index: 5;
  top: 10px;
  right: 10px;
}

.container-create-post {
  padding: 1rem;
}

.autocomplete-box {
  position: absolute;
  width: 98%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.autocomplete-content {
  /* border-bottom: 1px solid #000; */
  padding: 5px;
}

.autocomplete-content:hover {
  background-color: #e5e5e5;
}
.cursor {
  cursor: pointer;
}
.autocomplete-content:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  background-color: #ececec;
}

.autocomplete-container {
  width: 100%;
  position: relative;
}

.menu-box-rel {
  position: relative;
  z-index: 2;
}

.menu-box-ab {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  width: 15rem;
  top: 0;
  background-color: #f7f7f7;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.5s;
}

.menu-item {
  background-color: #f7f7f7;
  padding: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 98%;
  color: #3c4043;
  margin-bottom: 5px;
  font-weight: 500;
}
.on-item {
  background-color: #d6e3fa;
  color: #1967d2;
  padding: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 98%;
  margin-bottom: 5px;
  font-weight: 500;
}

.menu-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.039);
  color: #3c4043;
}

.menu-box-rel .slide {
  transform: translateX(0);
}

.menu-togel {
  display: flex;
  flex-direction: column;
  height: 18px;
  justify-content: space-between;
  position: relative;
}

.menu-togel input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -5px;
  cursor: pointer;
  z-index: 2;
}

.menu-togel span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fafafa;
  border-radius: 3pxs;
  transition: all 0.3s;
}

.menu-togel span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-togel span:last-child {
  transform-origin: 0 100%;
}

.menu-togel input:checked ~ span:nth-child(2) {
  background-color: #181818;
  transform: rotate(45deg) translate(0, -2px);
}
.menu-togel input:checked ~ span:nth-child(3) {
  transform: scale(0);
}
.menu-togel input:checked ~ span:last-child {
  background-color: #181818;
  transform: rotate(-45deg) translate(-1px, 2px);
}
/* mobile */

@media screen and (max-width: 996px) {
  .title-post-dashboard {
    max-width: 45vw;
  }
}

@media screen and (max-width: 767px) {
  .body-card {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .img-card {
    width: 100%;
  }
  body {
    overflow-y: auto;
  }
  .get-overflow {
    overflow-y: hidden;
    height: auto !important;
  }
  .coros {
    height: 15rem;
  }
  .box {
    width: 100%;
  }
  .card-login {
    width: 90vw;
  }
  .title-post-dashboard {
    max-width: 50vw;
  }
  .action-post-dashboard {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .card-login {
    width: 560px;
  }
  .title-post-dashboard {
    max-width: 55rem;
  }
}
